/* BASICS */

.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    color: black;
    direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
    padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
    padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
    background-color: #f7f7f7;
    white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    color: #999;
    white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
    border-left: 1px solid black;
    border-right: none;
    width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
    width: auto;
    border: 0 !important;
    background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
    z-index: 1;
}
.cm-fat-cursor-mark {
    background-color: rgba(20, 255, 20, 0.5);
    -webkit-animation: blink 1.06s steps(1) infinite;
    -moz-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
    width: auto;
    border: 0;
    -webkit-animation: blink 1.06s steps(1) infinite;
    -moz-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite;
    background-color: #7e7;
}
@-moz-keyframes blink {
    0% {}
    50% { background-color: transparent; }
    100% {}
}
@-webkit-keyframes blink {
    0% {}
    50% { background-color: transparent; }
    100% {}
}
@keyframes blink {
    0% {}
    50% { background-color: transparent; }
    100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
    position: absolute;
    left: 0; right: 0; top: -50px; bottom: 0;
    overflow: hidden;
}
.CodeMirror-ruler {
    border-left: 1px solid #ccc;
    top: 0; bottom: 0;
    position: absolute;
}

/* DEFAULT THEME */
.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

/*
    Name:       dracula
    Author:     Michael Kaminsky (http://github.com/mkaminsky11)
    Original dracula color scheme by Zeno Rocha (https://github.com/zenorocha/dracula-theme)
*/
.cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters {
    background-color: #282a36 !important;
    color: #f8f8f2 !important;
    border: none;
}

.cm-s-dracula .CodeMirror-gutters { color: #282a36; }
.cm-s-dracula .CodeMirror-cursor { border-left: solid thin #f8f8f0; }
.cm-s-dracula .CodeMirror-linenumber { color: #6D8A88; }
.cm-s-dracula .CodeMirror-selected { background: rgba(255, 255, 255, 0.10); }
.cm-s-dracula .CodeMirror-line::selection, .cm-s-dracula .CodeMirror-line > span::selection, .cm-s-dracula .CodeMirror-line > span > span::selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-dracula .CodeMirror-line::-moz-selection, .cm-s-dracula .CodeMirror-line > span::-moz-selection, .cm-s-dracula .CodeMirror-line > span > span::-moz-selection { background: rgba(255, 255, 255, 0.10); }
.cm-s-dracula span.cm-comment { color: #6272a4; }
.cm-s-dracula span.cm-string, .cm-s-dracula span.cm-string-2 { color: #f1fa8c; }
.cm-s-dracula span.cm-number { color: #bd93f9; }
.cm-s-dracula span.cm-variable { color: #50fa7b; }
.cm-s-dracula span.cm-variable-2 { color: white; }
.cm-s-dracula span.cm-def { color: #50fa7b; }
.cm-s-dracula span.cm-operator { color: #ff79c6; }
.cm-s-dracula span.cm-keyword { color: #ff79c6; }
.cm-s-dracula span.cm-atom { color: #bd93f9; }
.cm-s-dracula span.cm-meta { color: #f8f8f2; }
.cm-s-dracula span.cm-tag { color: #ff79c6; }
.cm-s-dracula span.cm-attribute { color: #50fa7b; }
.cm-s-dracula span.cm-qualifier { color: #50fa7b; }
.cm-s-dracula span.cm-property { color: #66d9ef; }
.cm-s-dracula span.cm-builtin { color: #50fa7b; }
.cm-s-dracula span.cm-variable-3, .cm-s-dracula span.cm-type { color: #ffb86c; }

.cm-s-dracula .CodeMirror-activeline-background { background: rgba(255,255,255,0.1); }
.cm-s-dracula .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
    position: relative;
    overflow: hidden;
    background: white;
}

.CodeMirror-scroll {
    overflow: scroll !important; /* Things will break if this is overridden */
    /* 50px is the magic margin used to hide the element's real scrollbars */
    /* See overflow: hidden in .CodeMirror */
    margin-bottom: -50px; margin-right: -50px;
    padding-bottom: 50px;
    height: 100%;
    outline: none; /* Prevent dragging from highlighting the element */
    position: relative;
}
.CodeMirror-sizer {
    position: relative;
    border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    position: absolute;
    z-index: 6;
    display: none;
}
.CodeMirror-vscrollbar {
    right: 0; top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.CodeMirror-hscrollbar {
    bottom: 0; left: 0;
    overflow-y: hidden;
    overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
    right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
    left: 0; bottom: 0;
}

.CodeMirror-gutters {
    position: absolute; left: 0; top: 0;
    min-height: 100%;
    z-index: 3;
}
.CodeMirror-gutter {
    white-space: normal;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
    position: absolute;
    z-index: 4;
    background: none !important;
    border: none !important;
}
.CodeMirror-gutter-background {
    position: absolute;
    top: 0; bottom: 0;
    z-index: 4;
}
.CodeMirror-gutter-elt {
    position: absolute;
    cursor: default;
    z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
    cursor: text;
    min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
    /* Reset some styles that the rest of the page might have set */
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    border-width: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    white-space: pre;
    word-wrap: normal;
    line-height: inherit;
    color: inherit;
    z-index: 2;
    position: relative;
    overflow: visible;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
}

.CodeMirror-linebackground {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 0;
}

.CodeMirror-linewidget {
    position: relative;
    z-index: 2;
    padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
    outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.CodeMirror-cursor {
    position: absolute;
    pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
    visibility: hidden;
    position: relative;
    z-index: 3;
}
div.CodeMirror-dragcursors {
    visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
    visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
    background-color: #ffa;
    background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
    /* Hide the cursor when printing */
    .CodeMirror div.CodeMirror-cursors {
        visibility: hidden;
    }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

/*****CODEMIRROR END******/
.cp_all {
    --body-bg: #f6f8fa;
    --body-color: #6a737d;
    --link-color: #222;
    --link-color-hover: #ec5840;
    --tab-active-bg: #fff;
    --tab-active-body: #2f363d;
    --tab-border-color: #ddd;
    --tab-active-border-color: #fff;
  }
  
  .cp_all.dark {
    --body-bg: #21222c;
    --body-color: #6272a4;
    --link-color: #21272e;
    --link-color-hover: #3cc368;
    --tab-active-bg: #282a36;
    --tab-active-body: #fff;
    --tab-border-color: #191a21;
    --tab-active-border-color:#282a36;
  }
  
  .cp_all {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: var(--body-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .cp_editor {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 35vh;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.2);
  }
  
  .cp_tab_links {
    overflow: hidden;
    background-color: var(--body-bg);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    padding-left: 29px;
  }
  
  .cp_tab_links .cp_tab_btn {
    margin: 0;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.1s;
    font-size: 16px;
    flex-grow: 1;
    background: var(--body-bg);
    color: var(--body-color);
    display: flex;
    place-content: center;
    place-items: center;
  }
  
  .cp_tab_btn {
    border: solid 1px transparent;
    border-bottom: solid 1px var(--tab-border-color);
  }
  
  .cp_tab_btn_conf {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    border: solid 1px var(--tab-border-color);
  }
  
  .cp_tab_btn_conf svg {
    fill: var(--body-color);
  }
  
  .cp_tab_btn span {
    pointer-events: none;
    font-size: 24px;
    margin-right: 4px;
  }
  
  .cp_tab_btn.active {
    background-color: var(--tab-active-bg);
    color: var(--tab-active-body);
    border-bottom: solid 1px var(----tab-active-border-color);
    border-right: solid 1px var(--tab-border-color);;
    border-left: solid 1px var(--tab-border-color);;
  }
  
  .cp_tab_links .cp_tab_btn_no-border {
    border-right: none;
  }
  
  .cp_tabs {
    position: relative;
    flex-grow: 1;
  }
  
  .cp_tab {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  iframe.cp_preview {
    width: 100%;
    height: 40vh;
    border: none;
    background: white;
  }
  
  .cp_preview_loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    color: white;
    display: none;
  }
  
  .cp_preview_loading.show {
    display: flex;
  }
  
  .cp_tabs .cp_tab:not(:first-of-type) {
    visibility: hidden;
  }
  
  .language-html,
  .language-css,
  .language-js {
    display: none;
  }
  
  .browser-mockup {
    border-top: 2em solid var(--body-bg);
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 6px 6px 0 0;
    background: var(--body-bg);
    margin-top: 1em;
  }
  
  /*browser mockup*/
  .browser-mockup:before {
    display: block;
    position: absolute;
    content: "";
    top: -1.25em;
    left: calc(100% - 4em);
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #00ca4e;
    box-shadow: 0 0 0 2px #00ca4e, 1.5em 0 0 2px #ffbd44, 3em 0 0 2px #ff605c;
  }
  
  .browser-mockup:after {
    display: block;
    position: absolute;
    content: "";
    top: -1.6em;
    left: 1em;
    width: calc(100% - 6em);
    height: 1.2em;
    border-radius: 6px;
    background-color: white;
  }  

  .cp_hide {
    display: none;
  }
  
  .cp_show {
    display: block;
  }
  
  .cpicon {
    width: 24px;
    height: 24px;
  }
  
  .cpicon.dark {
    filter: invert(100);
  }
  
  .cpicon-wrap_off {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M3.25 17.625v-1.5h11.5v1.5Zm0-4.875v-1.5h17.5v1.5Zm0-4.875v-1.5h17.5v1.5Z'/%3E%3C/svg%3E");
  }
  .cpicon-light_mode {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M12 15q1.25 0 2.125-.875T15 12q0-1.25-.875-2.125T12 9q-1.25 0-2.125.875T9 12q0 1.25.875 2.125T12 15Zm0 1.5q-1.875 0-3.188-1.312Q7.5 13.875 7.5 12q0-1.875 1.312-3.188Q10.125 7.5 12 7.5q1.875 0 3.188 1.312Q16.5 10.125 16.5 12q0 1.875-1.312 3.188Q13.875 16.5 12 16.5ZM2 12.75q-.325 0-.538-.213-.212-.212-.212-.537 0-.325.212-.538.213-.212.538-.212h2.25q.325 0 .537.212Q5 11.675 5 12q0 .325-.213.537-.212.213-.537.213Zm17.75 0q-.325 0-.538-.213Q19 12.325 19 12q0-.325.212-.538.213-.212.538-.212H22q.325 0 .538.212.212.213.212.538 0 .325-.212.537-.213.213-.538.213ZM12 5q-.325 0-.537-.213-.213-.212-.213-.537V2q0-.325.213-.538.212-.212.537-.212.325 0 .538.212.212.213.212.538v2.25q0 .325-.212.537Q12.325 5 12 5Zm0 17.75q-.325 0-.537-.212-.213-.213-.213-.538v-2.25q0-.325.213-.538Q11.675 19 12 19q.325 0 .538.212.212.213.212.538V22q0 .325-.212.538-.213.212-.538.212ZM6 7.05 4.75 5.825q-.225-.225-.213-.538.013-.312.213-.537.225-.225.538-.225.312 0 .537.225L7.05 6q.225.225.225.525 0 .3-.225.525-.2.225-.5.212-.3-.012-.55-.212Zm12.175 12.2L16.95 18q-.225-.225-.225-.525 0-.3.225-.525.2-.225.5-.212.3.012.55.212l1.25 1.225q.225.225.213.537-.013.313-.213.538-.225.225-.537.225-.313 0-.538-.225ZM16.95 7.05q-.225-.2-.212-.5.012-.3.212-.55l1.225-1.25q.225-.225.538-.213.312.013.537.213.225.225.225.537 0 .313-.225.538L18 7.05q-.225.225-.525.225-.3 0-.525-.225Zm-12.2 12.2q-.225-.225-.225-.538 0-.312.225-.537L6 16.95q.225-.225.525-.225.3 0 .525.225.225.2.213.5-.013.3-.213.55l-1.225 1.25q-.225.225-.537.225-.313 0-.538-.225ZM12 12Z'/%3E%3C/svg%3E");
  }
  .cpicon-dark_mode {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M12.025 20.5q-3.55 0-6.025-2.475Q3.525 15.55 3.525 12q0-3.4 2.3-5.825 2.3-2.425 5.65-2.625.2 0 .413.012.212.013.412.038-.775.725-1.225 1.737-.45 1.013-.45 2.163 0 2.45 1.725 4.175 1.725 1.725 4.175 1.725 1.175 0 2.175-.45 1-.45 1.7-1.225.05.2.063.412.012.213.012.413-.2 3.35-2.625 5.65-2.425 2.3-5.825 2.3Zm0-1.5q2.2 0 3.95-1.212 1.75-1.213 2.55-3.163-.5.125-1 .2-.5.075-1 .075-3.075 0-5.237-2.162Q9.125 10.575 9.125 7.5q0-.5.075-1t.2-1q-1.95.8-3.162 2.55Q5.025 9.8 5.025 12q0 2.9 2.05 4.95Q9.125 19 12.025 19Zm-.25-6.75Z'/%3E%3C/svg%3E");
  }
  .cpicon-css {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m5 3-.65 3.34h13.59L17.5 8.5H3.92l-.66 3.33h13.59l-.76 3.81-5.48 1.81-4.75-1.81.33-1.64H2.85l-.79 4 7.85 3 9.05-3 1.2-6.03.24-1.21L21.94 3H5z' fill='%2342a5f5'/%3E%3C/svg%3E");
  }
  .cpicon-html {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 17.56 4.07-1.13.55-6.1H9.38L9.2 8.3h7.6l.2-1.99H7l.56 6.01h6.89l-.23 2.58-2.22.6-2.22-.6-.14-1.66h-2l.29 3.19L12 17.56M4.07 3h15.86L18.5 19.2 12 21l-6.5-1.8L4.07 3z' fill='%23e44d26'/%3E%3C/svg%3E");
  }
  .cpicon-javascript {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 3h18v18H3V3m4.73 15.04c.4.85 1.19 1.55 2.54 1.55 1.5 0 2.53-.8 2.53-2.55v-5.78h-1.7V17c0 .86-.35 1.08-.9 1.08-.58 0-.82-.4-1.09-.87l-1.38.83m5.98-.18c.5.98 1.51 1.73 3.09 1.73 1.6 0 2.8-.83 2.8-2.36 0-1.41-.81-2.04-2.25-2.66l-.42-.18c-.73-.31-1.04-.52-1.04-1.02 0-.41.31-.73.81-.73.48 0 .8.21 1.09.73l1.31-.87c-.55-.96-1.33-1.33-2.4-1.33-1.51 0-2.48.96-2.48 2.23 0 1.38.81 2.03 2.03 2.55l.42.18c.78.34 1.24.55 1.24 1.13 0 .48-.45.83-1.15.83-.83 0-1.31-.43-1.67-1.03l-1.38.8z' fill='%23ffca28'/%3E%3C/svg%3E");
  }
  .cpicon-wrap_on {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M14.7 20.35 11.35 17l3.35-3.35 1.05 1.075-1.525 1.525h3.025q.825 0 1.413-.588.587-.587.587-1.412t-.587-1.413q-.588-.587-1.413-.587h-13v-1.5h13q1.45 0 2.475 1.025Q20.75 12.8 20.75 14.25q0 1.45-1.025 2.475Q18.7 17.75 17.25 17.75h-3.025l1.525 1.525Zm-10.45-2.6v-1.5h4.5v1.5Zm0-11v-1.5h15.5v1.5Z'/%3E%3C/svg%3E");
  }
  